<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CodeAlchemy · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <ul class="right">
      <%= if @conn.assigns[:user] do %>
        <li>
          Sign Out
        </li>
      <% else %>
        <li>
          <%= link "Github Sign In", to: Routes.auth_path(@conn, :request, "github")%>
        </li>
      <% end%>
    </ul>
    <div id="app"/>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
