<html>
  <head>
    <link rel="stylesheet" href="<%= Routes.static_path(CodeAlchemyWeb.Endpoint, "/css/app.css") %>"/>
  </head>
  <body>
    <div class="container">
      <%= render @view_module, @view_template, assigns %>
    </div>
  </body>
</html>
